<ion-list>
  <ion-item button *ngIf="item?.status === 'in-progress'" (click)="finalizeOrderConfirm()">
    <ion-label>
      Finalizar orden
    </ion-label>
    <ion-icon slot="start" name="play-outline"></ion-icon>
  </ion-item>
  <ion-item button *ngIf="item?.status === 'created'" (click)="startOrderConfirm()">
    <ion-label>
      Iniciar orden
    </ion-label>
    <ion-icon slot="start" name="play-outline"></ion-icon>
  </ion-item>
  <ion-item button (click)="cancelOrderConfirm()">
    <ion-label>
      Cancelar orden
    </ion-label>
    <ion-icon slot="start" name="close-circle-outline"></ion-icon>
  </ion-item>
  <ion-item button lines="none" detail="false" (click)="dismissPopover()">
    <ion-label>
      Salir
    </ion-label>
    <ion-icon slot="start" name="close"></ion-icon>
  </ion-item>
</ion-list>
