<ion-list>
  <ion-item button>
    <ion-label>
      Editar
    </ion-label>
    <ion-icon slot="start" name="create"></ion-icon>
  </ion-item>
  <ion-item button (click)="presentAlertConfirm()">
    <ion-label>
      Eliminar
    </ion-label>
    <ion-icon slot="start" name="trash"></ion-icon>
  </ion-item>
  <ion-item button lines="none" detail="false" (click)="dismissPopover()">
    <ion-label>
      Cancelar
    </ion-label>
    <ion-icon slot="start" name="close"></ion-icon>
  </ion-item>
</ion-list>
