<ion-content no-bounce>
  <div class="login-background"></div>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center ion-no-padding">
      <ion-col size-sm="8" size-lg="6" size-xl="4" class="ion-align-self-center ion-no-padding">
        <div class="login-header ion-text-center">
          <img class="logo" src="assets/ngx-rocket-logo.png" alt="yeyby logo" />
          <h1>YEYBY - Registro de empresa</h1>
          <h2>¡Bienvenido!</h2>
          <p>
            Yeyby te da la bienvenida al registro de tu empresa a nuestra plataforma, para continuar, por favor completa
            el siguiente formulario:
          </p>
        </div>
        <div class="login-container">
          <form (ngSubmit)="registration()" [formGroup]="registerForm" novalidate>
            <ion-list>
              <ion-item lines="inset">
                <ion-label color="medium" position="floating">Nombre</ion-label>
                <ion-input type="text" formControlName="name" autocomplete="Nombre"></ion-input>
              </ion-item>
              <ion-text
                color="danger"
                class="ion-padding ion-text-padding"
                *ngIf="registerForm.get('name').touched && registerForm.get('name').getError('required')"
              >
                <span padding>Nombre requerido</span>
              </ion-text>
              <ion-text
                color="danger"
                class="ion-padding ion-text-padding"
                *ngIf="registerForm.get('name').touched && registerForm.get('name').getError('whitespace')"
              >
                <span padding>Nombre no válido</span>
              </ion-text>
              <ion-item lines="inset">
                <ion-label color="medium" position="floating">Email</ion-label>
                <ion-input type="text" formControlName="email" autocomplete="Email"></ion-input>
              </ion-item>
              <ion-text
                color="danger"
                class="ion-padding ion-text-padding"
                *ngIf="registerForm.get('email').touched && registerForm.get('email').getError('required')"
              >
                <span padding>Email requerido</span>
              </ion-text>
              <ion-text
                color="danger"
                class="ion-padding ion-text-padding"
                *ngIf="registerForm.get('email').touched && registerForm.get('email').getError('invalidEmail')"
              >
                <span padding>Email no válido</span>
              </ion-text>
              <ion-item lines="inset">
                <ion-label color="medium" position="floating">Código de verificación</ion-label>
                <ion-input type="number" formControlName="code" autocomplete="Código de verificación"></ion-input>
              </ion-item>
              <ion-text
                color="danger"
                class="ion-padding ion-text-padding"
                *ngIf="registerForm.get('code').touched && registerForm.get('code').getError('required')"
              >
                <span padding>Código de verificación requerido</span>
              </ion-text>
              <ion-text
                color="danger"
                class="ion-padding ion-text-padding"
                *ngIf="registerForm.get('code').touched && registerForm.get('code').getError('whitespace')"
              >
                <span padding>Código no válido</span>
              </ion-text>
              <ion-item lines="inset">
                <ion-label color="medium" position="floating">Contraseña</ion-label>
                <ion-input type="password" formControlName="password1" autocomplete="Contraseña"></ion-input>
              </ion-item>
              <ion-text
                color="danger"
                class="ion-padding ion-text-padding"
                *ngIf="registerForm.get('password1').touched && registerForm.get('password1').getError('required')"
              >
                <span padding>Contraseña requerida</span>
              </ion-text>
              <ion-text
                color="danger"
                class="ion-padding ion-text-padding"
                *ngIf="registerForm.get('password1').touched && registerForm.get('password1').getError('minlength')"
              >
                <span padding>La contraseña debe tener al menos 6 carácteres</span>
              </ion-text>
              <ion-text
                color="danger"
                class="ion-padding ion-text-padding"
                *ngIf="registerForm.get('password1').touched && registerForm.get('password1').getError('whitespace')"
              >
                <span padding>Contraseña no válida</span>
              </ion-text>
              <ion-item lines="inset">
                <ion-label color="medium" position="floating">Repetir contraseña</ion-label>
                <ion-input type="password" formControlName="password2" autocomplete="Repetir contraseña"></ion-input>
              </ion-item>
              <ion-text
                color="danger"
                class="ion-padding ion-text-padding"
                *ngIf="registerForm.get('password2').touched && registerForm.get('password2').getError('required')"
              >
                <span padding>Debes repetir la contraseña</span>
              </ion-text>
              <ion-text
                color="danger"
                class="ion-padding ion-text-padding"
                *ngIf="registerForm.get('password2').touched && registerForm.get('password2').getError('mustMatch')"
              >
                <span padding>Las contraseñas deben de coincidir</span>
              </ion-text>
            </ion-list>
            <div class="ion-padding-horizontal">
              <ion-button
                type="submit"
                [disabled]="
                  registerForm.invalid || registerForm.value.password1 !== registerForm.value.password2 || isLoading
                "
                color="primary"
                expand="block"
              >
                Registro
              </ion-button>
            </div>
          </form>
          <ion-button routerLink="/login" expand="block" fill="clear">
            <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
            Regresar
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
