<ion-header>
  <ion-toolbar color="primary" *ngIf="!(mode === 'modal'); else isModal">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <span> {{ title.capitalLetter.prural }} </span></ion-title
    >
    <ion-buttons slot="end">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ng-template #isModal>
    <ion-toolbar color="primary">
      <ion-title>
        <span> Seleccionar {{ title.lowerCase.singular }} </span>
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeModal()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ng-template>
  <ion-toolbar color="light">
    <ion-searchbar
      class="ion-margin-top"
      type="text"
      debounce="1000"
      (ionChange)="doSearch($event)"
      (ionCancel)="initializeApp()"
      (ionClear)="initializeApp()"
      enterkeyhint="send"
      [placeholder]="'Buscar ' + title.lowerCase.singular"
      animated
    >
    </ion-searchbar>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="sortBy($event)" [disabled]="isLoading == true">
        <ion-icon slot="icon-only" *ngIf="orderBy === 'folio'" name="list-outline"></ion-icon>
        <ion-icon slot="icon-only" *ngIf="orderBy === 'date'" name="calendar-outline"></ion-icon>
        <ion-icon slot="icon-only" *ngIf="orderBy === 'nameStr'" name="text-outline"></ion-icon>
      </ion-button>
      <ion-button
        (click)="orderByDirection = orderByDirection === 'asc' ? 'desc' : 'asc'; initializeApp()"
        [disabled]="isLoading == true"
      >
        <ion-icon slot="icon-only" [name]="orderByDirection === 'asc' ? 'chevron-down-outline' : 'chevron-up-outline'">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title slot="end">
      <small>Total de {{ title.lowerCase.prural }}: {{ total }}</small>
    </ion-title>
    <ion-progress-bar type="indeterminate" color="primary" *ngIf="isLoading == true"> </ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content color="light" *ngIf="!(arrayDocs && arrayDocs[0]) && isLoading == false">
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-text color="medium" class="ion-text-center ion-padding">
          <h1>
            <ion-icon class="big-icon" name="search"></ion-icon>
          </h1>
          <h3>Sin resultados</h3>
          <p>No se encontraron resultados de {{ title.lowerCase.prural }}</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content color="light" *ngIf="!(arrayDocs && arrayDocs[0]) && isLoading == true">
  <ion-grid fixed>
    <ion-row *ngIf="!(mode === 'modal'); else isModalSkeleton">
      <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="6" size-xs="12" *ngFor="let item of skeleton">
        <ion-card>
          <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
          <ion-toolbar>
            <ion-title slot="start">
              <small>
                <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text> </small
            ></ion-title>
            <ion-buttons slot="end">
              <ion-button size="small">
                <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
          <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
          <ion-title slot="start">
            <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
          </ion-title>
          <ion-card-header>
            <ion-card-subtitle>
              <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
            </ion-card-subtitle>
            <ion-card-title>
              <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>
              <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ng-template #isModalSkeleton>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item *ngFor="let item of skeleton">
              <ion-thumbnail slot="start">
                <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
              </ion-thumbnail>
              <ion-label>
                <h2>
                  <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
                </h2>
                <h3>
                  <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
                </h3>
                <p>
                  <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ng-template>
  </ion-grid>
</ion-content>

<ion-content color="light" *ngIf="arrayDocs && arrayDocs[0]">
  <ion-grid fixed>
    <ion-row *ngIf="!(mode === 'modal'); else isModalActions">
      <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="6" size-xs="12" *ngFor="let item of arrayDocs">
        <ion-card>
          <ion-toolbar>
            <ion-title slot="start">
              <small><strong>Folio: </strong>{{ item?.folio }}</small></ion-title
            >
            <ion-buttons slot="end">
              <ion-button size="small" (click)="generateOrderConfirm(item.id)">
                <ion-icon slot="icon-only" name="receipt-outline"></ion-icon>
              </ion-button>
              <ion-button size="small" (click)="presentPopover($event, item)">
                <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
          <img
            [src]="item?.image?.list?.url ? item.image.list.url : 'assets/no-image.png'"
            [routerLink]="['/companies/' + item.id]"
            routerDirection="forward"
          />
          <ion-card-header [routerLink]="['/companies/' + item.id]" routerDirection="forward">
            <ion-card-subtitle> <ion-icon name="call" color="medium"></ion-icon> {{ item?.phone }} </ion-card-subtitle>
            <ion-card-title>{{ item?.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>
              <ion-icon slot="start" name="information-circle" color="medium"></ion-icon>
              {{ item?.description | slice: 0:150 }}...
            </p>
            <p>
              <ion-icon slot="start" name="location" color="medium"></ion-icon>
              {{ item?.streetAddress | slice: 0:200 }}...
            </p>
            <div *ngIf="item?.user as user">
              <ion-chip>
                <ion-icon name="person"></ion-icon>
                <ion-icon name="checkmark-circle" color="success"></ion-icon>
              </ion-chip>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ng-template #isModalActions>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item *ngFor="let item of arrayDocs" (click)="selectItem(item)">
              <ion-thumbnail slot="start">
                <img [src]="item?.image?.list?.url ? item.image.list.url : 'assets/no-image.png'" />
              </ion-thumbnail>
              <ion-label>
                <h2>{{ item?.name }}</h2>
                <h3>
                  <small><strong>Folio: </strong>{{ item?.folio }}</small>
                </h3>
                <p>
                  <ion-icon slot="start" name="information-circle" color="medium"></ion-icon>
                  {{ item?.description | slice: 0:150 }}...
                </p>
                <p>
                  <ion-icon slot="start" name="location" color="medium"></ion-icon>
                  {{ item?.streetAddress | slice: 0:200 }}...
                </p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ng-template>
    <ion-row>
      <ion-col>
        <ion-button color="white" (click)="initializeApp('back')" [disabled]="!back || isLoading == true">
          <ion-icon slot="icon-only" name="caret-back-outline"></ion-icon>
        </ion-button>
        <ion-button color="white" (click)="initializeApp('forward')" [disabled]="!forward || isLoading == true">
          <ion-icon slot="icon-only" name="caret-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!(mode === 'modal')">
    <ion-fab-button (click)="add()" [disabled]="isLoading == true">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
