<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <span> {{ title.capitalLetter.prural }} </span></ion-title
    >
    <ion-buttons slot="end">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button disabled="true">
        <ion-icon slot="icon-only" *ngIf="orderBy === 'folio'" name="list-outline"></ion-icon>
        <ion-icon slot="icon-only" *ngIf="orderBy === 'date'" name="calendar-outline"></ion-icon>
        <ion-icon slot="icon-only" *ngIf="orderBy === 'nameStr'" name="text-outline"></ion-icon>
      </ion-button>
      <ion-button
        (click)="orderByDirection = orderByDirection === 'asc' ? 'desc' : 'asc'; initializeApp()"
        [disabled]="isLoading == true"
      >
        <ion-icon slot="icon-only" [name]="orderByDirection === 'asc' ? 'chevron-down-outline' : 'chevron-up-outline'">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-progress-bar type="indeterminate" color="primary" *ngIf="isLoading == true"> </ion-progress-bar>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="status" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="created" [disabled]="isLoading == true">
        <ion-label>Creadas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="in-progress" [disabled]="isLoading == true">
        <ion-label>En camino</ion-label>
      </ion-segment-button>
      <ion-segment-button value="finished" [disabled]="isLoading == true">
        <ion-label>Terminadas</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content color="light" *ngIf="!(arrayDocs && arrayDocs[0]) && isLoading == false">
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-text color="medium" class="ion-text-center ion-padding">
          <h1>
            <ion-icon class="big-icon" name="search"></ion-icon>
          </h1>
          <h3>Sin resultados</h3>
          <p>No se encontraron resultados de {{ title.lowerCase.prural }}.</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content color="light" *ngIf="!(arrayDocs && arrayDocs[0]) && isLoading == true">
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let item of skeleton">
            <ion-avatar slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content color="light" *ngIf="arrayDocs && arrayDocs[0]">
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let item of arrayDocs; let i = index">
            <ion-icon slot="start" name="receipt-outline"></ion-icon>
            <ion-label [routerLink]="['/orders/' + item.id]" routerDirection="forward" class="ion-text-wrap">
              <h3 *ngIf="item?.company?.name as name">
                <ion-icon name="briefcase"></ion-icon> <strong>{{ name }}</strong>
              </h3>
              <h3 *ngIf="item?.customer?.name as name"><ion-icon name="person"></ion-icon> {{ name }}</h3>
              <h3 *ngIf="item?.deliverer?.name as name"><ion-icon name="bicycle"></ion-icon> {{ name }}</h3>
              <p><strong>Folio: </strong> {{ item?.folio }}</p>
              <div *ngIf="item.status === 'delivered'">
                <p>
                  <small> <strong>Inicio: </strong> {{ item?.startDateStr }} </small>
                </p>
                <p>
                  <small> <strong>Entrega: </strong> {{ item?.finishDateStr }} </small>
                </p>
              </div>
              <div *ngIf="item.status === 'in-progress'">
                <p>
                  <small> <strong>Inicio: </strong> {{ item?.startDateStr }} </small>
                </p>
              </div>
              <div *ngIf="item.status === 'canceled-delivery'">
                <p>
                  <small> <strong>Inicio: </strong> {{ item?.startDateStr }} </small>
                </p>
                <p>
                  <small> <strong>Cancelación: </strong> {{ item?.finishDateStr }} </small>
                </p>
              </div>
              <div *ngIf="item.status === 'cancelled'">
                <p>
                  <small> <strong>Creación: </strong> {{ item?.dateStr }} </small>
                </p>
                <p>
                  <small> <strong>Cancelación: </strong> {{ item?.finishDateStr }} </small>
                </p>
              </div>
              <div *ngIf="item.status === 'created'">
                <p>
                  <small> <strong>Creación: </strong> {{ item?.dateStr }} </small>
                </p>
              </div>
            </ion-label>
            <ion-buttons
              slot="end"
              *ngIf="item.status === 'in-progress' || item.status === 'created'; else orderStatus"
            >
              <ion-button (click)="presentPopover($event, item)">
                <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ng-template #orderStatus>
              <ion-badge
                slot="end"
                class="ion-text-wrap"
                [color]="
                  item.status === 'delivered' ? 'success' : item.status === 'canceled-delivery' ? 'danger' : 'primary'
                "
              >
                <small>
                  {{ item.status === 'cancelled' ? 'Cancelada' : '' }}
                  {{ item.status === 'canceled-delivery' ? 'Entrega cancelada' : '' }}
                  {{ item.status === 'delivered' ? 'Entregada' : '' }}
                </small>
              </ion-badge>
            </ng-template>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="white" (click)="initializeApp('back')" [disabled]="!back || isLoading == true">
          <ion-icon slot="icon-only" name="caret-back-outline"></ion-icon>
        </ion-button>
        <ion-button color="white" (click)="initializeApp('forward')" [disabled]="!forward || isLoading == true">
          <ion-icon slot="icon-only" name="caret-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
