<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><span>Crear órden</span></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-slides #sliderRef [pager]="true" (ionSlideDidChange)="ionSlideDidChange($event)">
          <ion-slide>
            <ion-card>
              <ion-card-header color="dark" class="ion-text-start">
                <ion-card-title>Selecciona el tipo de operacion</ion-card-title>
              </ion-card-header>
              <ion-card-content class="ion-no-padding">
                <ion-grid>
                  <ion-row>
                    <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="12">
                      <ion-item lines="full" button (click)="next()" mode="md" class="ion-margin-bottom my-item-light">
                        <ion-icon color="dark" name="receipt-outline" slot="start" size="large"> </ion-icon>
                        <ion-label class="ion-text-wrap">
                          <h2>
                            <strong>Generar órden</strong>
                          </h2>
                          <p>
                            Se creará una órden con alguno de los restaurantes registrados en Yeyby.
                          </p>
                        </ion-label>
                        <ion-icon color="dark" name="add" slot="end"></ion-icon>
                      </ion-item>
                    </ion-col>
                    <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="12">
                      <ion-item lines="full" button (click)="next()" mode="md" class="ion-margin-bottom my-item-dark">
                        <ion-icon color="primary" name="bicycle-outline" slot="start" size="large"> </ion-icon>
                        <ion-label class="ion-text-wrap">
                          <h2>
                            <strong>Generar envío</strong>
                          </h2>
                          <p>Se creará una envío a alguno de nuestros clientes. <br />.</p>
                        </ion-label>
                        <ion-icon color="primary" name="add" slot="end"></ion-icon>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header color="dark" class="ion-text-start">
                <ion-card-title>Seleccionar cliente</ion-card-title>
              </ion-card-header>
              <ion-card-content class="ion-no-padding">
                <ion-grid>
                  <ion-row>
                    <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="12">
                      <ion-item
                        lines="full"
                        button
                        (click)="selectCustomer()"
                        mode="md"
                        class="ion-margin-bottom my-item-dark"
                      >
                        <ion-icon color="primary" name="people-outline" slot="start" size="large"> </ion-icon>
                        <ion-label class="ion-text-wrap">
                          <h2>
                            <strong>Buscar cliente</strong>
                          </h2>
                          <p>
                            Buscar en clientes ya registrados en Yeyby.
                          </p>
                        </ion-label>
                        <ion-icon color="primary" name="search" slot="end"></ion-icon>
                      </ion-item>
                    </ion-col>
                    <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="12">
                      <ion-item
                        lines="full"
                        button
                        (click)="createCustomer()"
                        mode="md"
                        class="ion-margin-bottom my-item-light"
                      >
                        <ion-icon color="dark" name="person-add-outline" slot="start" size="large"> </ion-icon>
                        <ion-label class="ion-text-wrap">
                          <h2>
                            <strong>Agregar cliente</strong>
                          </h2>
                          <p>
                            Agregar un cliente nuevo.
                          </p>
                        </ion-label>
                        <ion-icon color="dark" name="add" slot="end"></ion-icon>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="12">
                      <ion-item lines="none">
                        <ion-avatar slot="start">
                          <img src="../../assets/no-image.png" />
                        </ion-avatar>
                        <ion-label>
                          <h2>Sin cliente asignado</h2>
                        </ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="12">
                      <ion-button
                        (click)="next()"
                        expand="block"
                        color="success"
                        class="ion-margin-bottom"
                        size="large"
                      >
                        Continuar
                        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="12">
                      <ion-button (click)="back()" expand="block" shape="outline" class="ion-margin-bottom">
                        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
                        Regresar
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header color="dark" class="ion-text-start">
                <ion-card-title>Seleccionar empresa</ion-card-title>
              </ion-card-header>
              <ion-card-content class="ion-no-padding">
                <ion-grid>
                  <ion-row>
                    <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="12">
                      <ion-item
                        lines="full"
                        button
                        (click)="selectCompany()"
                        mode="md"
                        class="ion-margin-bottom my-item-dark"
                      >
                        <ion-icon color="primary" name="fast-food-outline" slot="start" size="large"> </ion-icon>
                        <ion-label class="ion-text-wrap">
                          <h2>
                            <strong>Buscar empresa</strong>
                          </h2>
                          <p>
                            Buscar empresas registradas en Yeyby.
                          </p>
                        </ion-label>
                        <ion-icon color="primary" name="search" slot="end"></ion-icon>
                      </ion-item>
                    </ion-col>
                    <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="12">
                      <ion-button
                        (click)="next()"
                        expand="block"
                        color="success"
                        class="ion-margin-bottom"
                        size="large"
                      >
                        Continuar
                        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="12">
                      <ion-item lines="none">
                        <ion-thumbnail slot="start">
                          <img src="../../assets/no-image.png" />
                        </ion-thumbnail>
                        <ion-label>
                          <h2>Sin empresa asignada</h2>
                        </ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="12">
                      <ion-button (click)="back()" expand="block" shape="outline" class="ion-margin-bottom">
                        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
                        Regresar
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>Destination</ion-card-subtitle>
                <ion-card-title>Madison, WI</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
                Wisconsin Territory in 1836.
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>Destination</ion-card-subtitle>
                <ion-card-title>Madison, WI</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
                Wisconsin Territory in 1836.
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
