.logo {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.button-yeiby {
  --padding-top: 10px;
  --padding-bottom: 10px;
  height: auto !important;
}

.button-yeiby-no-shadow {
  --box-shadow: none;
}

.button-yeiby-no-padding {
  --padding-end: 0px !important;
  --padding-start: 0px !important;
  --margin: 0 !important;
}

.yeyby-wrap {
  display: block;
  width: 100%;
  max-width: 660px;
  margin: 0 auto;
}

.divider {
  display: block;
  height: 40px;
  border-right: 3px dashed var(--ion-color-success);
  width: 50%;
  margin: 5px 1.5px;
}
