<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> <span> Configuración de perfil </span></ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <h2>Datos personales</h2>
        </div>
        <ion-card>
          <ion-card-content>
            <form (ngSubmit)="save1()" [formGroup]="personalDataForm" novalidate>
              <ion-list>
                <ion-item lines="inset">
                  <ion-label color="medium" position="floating">Nombre</ion-label>
                  <ion-input type="text" formControlName="name" autocomplete="Nombre"></ion-input>
                </ion-item>
                <ion-text
                  color="danger"
                  class="ion-padding ion-text-padding"
                  *ngIf="personalDataForm.get('name').touched && personalDataForm.get('name').getError('required')"
                >
                  <span padding translate>Nombre requerido</span>
                </ion-text>
                <ion-text
                  color="danger"
                  class="ion-padding ion-text-padding"
                  *ngIf="personalDataForm.get('name').touched && personalDataForm.get('name').getError('whitespace')"
                >
                  <span padding translate>Nombre no válido</span>
                </ion-text>
                <ion-item lines="inset">
                  <ion-label color="medium" position="floating">Teléfono</ion-label>
                  <ion-input type="text" formControlName="phone" autocomplete="Teléfono particular"> </ion-input>
                </ion-item>
                <ion-text
                  color="danger"
                  class="ion-padding ion-text-padding"
                  *ngIf="personalDataForm.get('phone').touched && personalDataForm.get('phone').getError('whitespace')"
                >
                  <span padding translate>Teléfono no válido</span>
                </ion-text>
              </ion-list>
              <div class="ion-padding-horizontal">
                <ion-button
                  type="submit"
                  [disabled]="personalDataForm.invalid || isLoading"
                  color="primary"
                  expand="block"
                >
                  Guardar
                </ion-button>
              </div>
            </form>
          </ion-card-content>
        </ion-card>
        <div class="ion-text-center">
          <h2>Cambiar contraseña</h2>
        </div>
        <ion-card>
          <ion-card-content>
            <form (ngSubmit)="presentAlertConfirm()" [formGroup]="accountDataForm" novalidate>
              <ion-list>
                <ion-item lines="inset">
                  <ion-label color="medium" position="floating">Contraseña actual</ion-label>
                  <ion-input type="password" formControlName="password1" autocomplete="Contraseña actual"> </ion-input>
                </ion-item>
                <ion-text
                  color="danger"
                  class="ion-padding ion-text-padding"
                  *ngIf="
                    accountDataForm.get('password1').touched && accountDataForm.get('password1').getError('required')
                  "
                >
                  <span padding translate>Contraseña actual requerida</span>
                </ion-text>
                <ion-text
                  color="danger"
                  class="ion-padding ion-text-padding"
                  *ngIf="
                    accountDataForm.get('password1').touched && accountDataForm.get('password1').getError('minlength')
                  "
                >
                  <span padding translate>La contraseña debe tener al menos 6 carácteres</span>
                </ion-text>
                <ion-text
                  color="danger"
                  class="ion-padding ion-text-padding"
                  *ngIf="
                    accountDataForm.get('password1').touched && accountDataForm.get('password1').getError('whitespace')
                  "
                >
                  <span padding translate>Contraseña no válida</span>
                </ion-text>
                <ion-item lines="inset">
                  <ion-label color="medium" position="floating">Contraseña nueva</ion-label>
                  <ion-input type="password" formControlName="password2" autocomplete="Contraseña nueva"> </ion-input>
                </ion-item>
                <ion-text
                  color="danger"
                  class="ion-padding ion-text-padding"
                  *ngIf="
                    accountDataForm.value.password1 !== '' &&
                    accountDataForm.value.password1 === accountDataForm.value.password2
                  "
                >
                  <span padding translate>Contraseña nueva y anterior deben ser distintas</span>
                </ion-text>
                <ion-text
                  color="danger"
                  class="ion-padding ion-text-padding"
                  *ngIf="
                    accountDataForm.get('password2').touched && accountDataForm.get('password2').getError('required')
                  "
                >
                  <span padding translate>Contraseña nueva requerida</span>
                </ion-text>
                <ion-text
                  color="danger"
                  class="ion-padding ion-text-padding"
                  *ngIf="
                    accountDataForm.get('password2').touched && accountDataForm.get('password2').getError('minlength')
                  "
                >
                  <span padding translate>La contraseña debe tener al menos 6 carácteres</span>
                </ion-text>
                <ion-text
                  color="danger"
                  class="ion-padding ion-text-padding"
                  *ngIf="
                    accountDataForm.get('password2').touched && accountDataForm.get('password2').getError('whitespace')
                  "
                >
                  <span padding translate>Contraseña no válida</span>
                </ion-text>
                <ion-item lines="inset">
                  <ion-label color="medium" position="floating">Repetir contraseña</ion-label>
                  <ion-input type="password" formControlName="password3" autocomplete="Repetir contraseña"></ion-input>
                </ion-item>
                <ion-text
                  color="danger"
                  class="ion-padding ion-text-padding"
                  *ngIf="
                    accountDataForm.get('password3').touched && accountDataForm.get('password3').getError('required')
                  "
                >
                  <span padding translate>Debes repetir la contraseña</span>
                </ion-text>
                <ion-text
                  color="danger"
                  class="ion-padding ion-text-padding"
                  *ngIf="
                    accountDataForm.get('password3').touched && accountDataForm.get('password3').getError('mustMatch')
                  "
                >
                  <span padding translate>Las contraseñas deben de coincidir</span>
                </ion-text>
              </ion-list>
              <div class="ion-padding-horizontal">
                <ion-button
                  type="submit"
                  [disabled]="
                    accountDataForm.invalid ||
                    accountDataForm.value.password1 === accountDataForm.value.password2 ||
                    accountDataForm.value.password2 !== accountDataForm.value.password3 ||
                    isLoading
                  "
                  color="primary"
                  expand="block"
                >
                  Cambiar contraseña
                </ion-button>
              </div>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
