<ion-content no-bounce>
  <div class="login-background"></div>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center ion-no-padding">
      <ion-col size-sm="8" size-lg="6" size-xl="4" class="ion-align-self-center ion-no-padding">
        <div class="login-header ion-text-center">
          <img class="logo" src="assets/ngx-rocket-logo.png" alt="yeyby logo" />
          <h1>YEYBY</h1>
          <h2>
            Recupaeración de contraseña
          </h2>
          <p>
            Para recuperar tu contraseña, por favor ingresa el email de tu cuenta en Yeyby:
          </p>
        </div>
        <div class="login-container">
          <form (ngSubmit)="reset()" [formGroup]="resetForm" novalidate>
            <ion-list>
              <ion-item lines="inset">
                <ion-label color="medium" position="floating">Email</ion-label>
                <ion-input type="text" formControlName="email" autocomplete="Email"></ion-input>
              </ion-item>
              <ion-text
                color="danger"
                class="ion-padding ion-text-padding"
                *ngIf="resetForm.get('email').touched && resetForm.get('email').getError('required')"
              >
                <span padding translate>Email requerido</span>
              </ion-text>
              <ion-text
                color="danger"
                class="ion-padding ion-text-padding"
                *ngIf="resetForm.get('email').touched && resetForm.get('email').getError('invalidEmail')"
              >
                <span padding translate>Email no válido</span>
              </ion-text>
            </ion-list>
            <div class="ion-padding-horizontal">
              <ion-button type="submit" [disabled]="resetForm.invalid || isLoading" color="primary" expand="block">
                Solicitar
              </ion-button>
            </div>
          </form>
          <ion-button routerLink="/login" expand="block" fill="clear">
            <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
            Regresar
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
