<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content">
    <ion-content>
      <div ion-fixed>
        <div class="profile ion-text-center ion-padding">
          <img class="logo" src="assets/ngx-rocket-logo.png" alt="yeyby logo" />
          <div>
            <ion-menu-toggle auto-hide="false">
              <ion-button class="profile-button" color="light" shape="round" fill="outline" size="small" expand="block">
                <ion-icon name="person"></ion-icon> {{ username }}
              </ion-button>
            </ion-menu-toggle>
          </div>
        </div>
        <ion-list lines="full" class="ion-no-padding">
          <ion-menu-toggle auto-hide="false" *ngFor="let item of routes">
            <ion-item [routerDirection]="'root'" [routerLink]="item.link" routerLinkActive="active">
              <ion-icon slot="start" [name]="item.icon"></ion-icon>
              <ion-label
                ><span>{{ item.title }}</span></ion-label
              >
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" (click)="presentAlertConfirm()">
              <ion-icon slot="start" name="exit"></ion-icon>
              <ion-label><span>Salir</span></ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
