<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><span>Inicio</span></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="ion-text-center" color="dark">
    <img class="logo" src="assets/ngx-rocket-logo.png" alt="yeyby logo" />
    <ion-card-content>
      <ion-card-title>
        <span>YEYBY - Panel Administrativo</span>
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="6" size-xs="12">
        <ion-button color="primary" expand="block" size="large" routerLink="/customers">
          <ion-icon slot="start" name="person"></ion-icon>
          Clientes
        </ion-button>
      </ion-col>
      <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="6" size-xs="12">
        <ion-button color="primary" expand="block" size="large" routerLink="/hone">
          <ion-icon slot="start" name="bicycle"></ion-icon>
          Repartidores
        </ion-button>
      </ion-col>
      <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="6" size-xs="12">
        <ion-button color="primary" expand="block" size="large" routerLink="/companies">
          <ion-icon slot="start" name="briefcase"></ion-icon>
          Empresas
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
