<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><span>Inicio</span></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-grid fixed *ngIf="userType === 'admin' || userType === 'yeyby-users'">
    <ion-row>
      <ion-col size="12">
        <ion-card class="ion-text-center ion-no-margin ion-margin-vertical my-card-dark-5">
          <br />
          <img class="logo" src="assets/ngx-rocket-logo.png" alt="yeyby logo" />
          <ion-card-content>
            <ion-card-title>
              <ion-text color="light">
                <span>YEYBY - Panel Administrativo</span>
              </ion-text>
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="12">
        <ion-item
          lines="full"
          button
          mode="md"
          class="ion-no-margin my-item"
          routerLink="/create-order/type/orden"
          routerDirection="forward"
        >
          <ion-icon color="light" src="assets\icons\para-llevar.svg" slot="start" class="icon-big"> </ion-icon>
          <ion-label class="ion-text-wrap">
            <h2>
              <strong>Crear órden</strong>
            </h2>
            <p></p>
          </ion-label>
          <ion-icon name="add-outline" color="dark" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="12">
        <ion-item
          lines="full"
          button
          mode="md"
          class="ion-no-margin my-item"
          routerLink="/create-order/type/envio"
          routerDirection="forward"
        >
          <ion-icon color="light" src="assets\icons\paquete-o-empaquetar.svg" slot="start" class="icon-big"> </ion-icon>
          <ion-label class="ion-text-wrap">
            <h2>
              <strong>Crear envío</strong>
            </h2>
            <p></p>
          </ion-label>
          <ion-icon name="add" color="dark" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="12">
        <ion-item
          lines="full"
          button
          mode="md"
          class="ion-no-margin my-item"
          routerLink="/pending-orders"
          routerDirection="forward"
        >
          <ion-icon color="light" src="assets\icons\pendiente.svg" slot="start" class="icon-big"> </ion-icon>
          <ion-label class="ion-text-wrap">
            <h2>
              <strong>Órdenes en espera</strong>
            </h2>
            <p></p>
          </ion-label>
          <ion-icon name="chevron-forward-outline" color="dark" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="12">
        <ion-item
          lines="full"
          button
          mode="md"
          class="ion-no-margin my-item"
          routerLink="/deliverers/orders/list"
          routerDirection="forward"
        >
          <ion-icon color="light" src="assets\icons\aceptar.svg" slot="start" class="icon-big"> </ion-icon>
          <ion-label class="ion-text-wrap">
            <h2>
              <strong>Órdenes terminadas</strong>
            </h2>
            <p></p>
          </ion-label>
          <ion-icon name="chevron-forward-outline" color="dark" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed *ngIf="userType === 'company'">
    <ion-row>
      <ion-col size-xl=" 4" size-lg="6" size-md="6" size-sm="6" size-xs="12" *ngFor="let item of companies">
        <ion-card>
          <img
            [src]="item.image && item.image.list && item.image.list.url ? item.image.list.url : 'assets/no-image.png'"
            [routerLink]="['/companies/' + item.id]"
            routerDirection="forward"
          />
          <ion-card-header [routerLink]="['/companies/' + item.id]" routerDirection="forward">
            <ion-card-subtitle> <ion-icon name="call" color="medium"></ion-icon> {{ item?.phone }} </ion-card-subtitle>
            <ion-card-title>{{ item?.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>
              <ion-icon slot="start" name="information-circle" color="medium"></ion-icon>
              {{ item?.description | slice: 0:150 }}...
            </p>
            <p>
              <ion-icon slot="start" name="location" color="medium"></ion-icon>
              {{ item?.streetAddress | slice: 0:200 }}...
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
